:root{
   --cor-de-fundo:#1e1e1e;
   --verde: #5FFF57;
   --branco: #FFFFFF;
   --botao-ativo: #3A375E;
   --botao-inativo: rgba(58, 55, 94,0.5);
   --texto-fundo: rgba(58,55,94,0.3)

}

body
{
background-color: var(--branco);
color: var (var(--cor-de-fundo));
 
}

.conteudoprincipal{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 max-width: 1200px;
 width: 100%;


}

.tituloprincipal{ 
   text-align: center;
   width: 100%;
   font-size: 32px;

}

.botao{
  background-color: var(--botao-inativo);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  padding: 1em;


}
